h1{
    margin-left: 3%;
}
h2{
    width: 100%;
}
.search_container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.search_item_wrapper{
    width: 97.5%;
    display: flex;
    flex-wrap: wrap;
}
.search_item{
    height: 400px;
    width: 320px;
    margin: 7px;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}
.search_product_container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search_product_image_container{
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search_product_image_container img{
    height: 90%;
    width: 90%;
    object-fit: fill;
}
.search_product_details_container{
    height: 40%;
    width: 90%;
    position: relative;
}
.search_product_name{
    width: 100%;
    font-weight: 500;
}
.search_product_price{
    position: absolute;
    bottom: 70px;
}
.search_product_rating{
    bottom: 45px;
    position: absolute;
    height: 20px;
}
.search_product_rating img{
    height: 20px;
    width: 20px;
    color: gray;
}
.search_star_rating:hover{
    cursor: pointer;
}
.search_addto_card{
    margin-bottom: 10px;
    bottom: 0;
    position: absolute;
    background-color: rgb(255, 210, 8);
    box-shadow: 0px 2px 5px 0px rgba(156,156,156,0.75);
    border: none;
    width: 150px;
    height: 25px;
    padding: 0px 20px;
    border-radius: 20px;
}
@media screen and (max-width: 380px) {
    .search_item{
        height: 350px;
        width: 300px;
    }
    .search_product_image_container img{
        min-width: 250px;
    }
}