.footer{
    width: 100%;
    background-color: #131A22;
    color: white;
    display: flex;
    justify-content: center;
}
.footerItemContainer{
    display: flex;
    min-height: 80px;
    align-items: center;
    justify-content: space-evenly;
}
.footerItemContainer span{
 font-size: 12px;
 margin-left: .5em;
}
@media screen and  (max-width: 53.1rem){
    .footerItemContainer{
        flex-direction: column;
    }
}
@media screen and  (max-width: 30rem){
    .footerItemContainer span{
        font-size: .6rem;
       }
}