.modal_container{
    height: 100vh;
    width: 100%;
    background-color: gray;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal{
    position: relative;
    height: 30vh;
    width: 60%;
    background-color: white;
}
.close_btn{
    position: absolute;
    right: 0;
    margin: 10px;
    height: 40px;
    width: 35px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.submit_rating{
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.rating_title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.rating_title h5{
    font-size: .7rem;
}
.stars input{
    display: none;
}
.star:hover{
    cursor: pointer;
    color: #ffc107;
}
.submit_rating_btn{
    font-size: 14px;
    color: white;
    height: 35px;
    width: 80px;
    background-color: black;
    border-radius: 5%;
    margin-top: 20px;
}
.submit_rating_btn:hover{
    cursor: pointer;
    background-color: rgb(43, 40, 40);
}
.already_rated{
    font-weight: bolder;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.singin_to_rate{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
@media screen and (max-width: 480px) {
    .modal{
        width: 90%;
    }
    .submit_rating_btn{
        font-size: 12px;
        height: 30px;
        width: 60px;
    }
    .rating_title h3{
        font-size: 18px;
    }
    .close_btn{
        margin: 5px;
        height: 30px;
        width: 30px;
        font-size: 18px;
    }
}