.menu_container{
    height: 100%;
    width: 100%;
    background-color: rgba(3, 3, 3, 0.9);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    display: flex;
    justify-content: space-between;
}
.menu_close_btton{
    font-size: 42px;
    margin-top: 2rem;
    margin-right: .5rem;
    height: 50px;
    width: 60px;
    background: transparent;
    border: none;
    color: white;
}
.menu_close_btton:hover{
    cursor: pointer;
}
.menu_amazon_title{
    height: 150px;
    display: flex;
    flex-direction: column;
    padding: .55rem .8rem;
    color: white;
    background-color: #232F3E;
    justify-content: center;
}
.menu_amazon_title div{
    font-size: 1.5rem;
}
.menu_amazon_title small{
    font-weight: bold;
    font-size: 1rem;
}
.menu_amazon_title .menu_navbar{
    display: flex;
    align-items: center;
    padding: .55rem .5rem;
}
.menu_amazon_title .menu_navbar_text{
    color: white;
    font-size: 1rem;
}
.menu_navbar_icon{
    height: 1.5rem;
    width: 1.5rem;
    margin-right: .33rem;
    color: rgb(0, 0, 0);
}
.menu_navbar_profile_icon{
    min-width: 30px;
    height: 1.5rem;
    width: 1.5rem;
    margin-right: .33rem;
}
.menu_navbars .navbar_icon{
    color: white;
}
.menu_list{
    height: 100%;
    width: 83%;
    background-color: white;
    color: black;
    animation: menu .5s;
}
.menu_navbars{
    border-bottom: 3px rgb(206, 206, 206) solid;
    display: flex;
    align-items: center;
    padding: .55rem .5rem;
}
.menu_navbar_text{
    font-size: 1rem;
    color: black;
}


@keyframes menu {
    0%{
        transform: translateX(-200%);
    }
    100%{
        transform: translateX(0%);
    }
}
@media screen and (max-width: 480px) {
    .menu_close_btton{
        margin-top: 2rem;
        margin-right: 0.5rem;
        font-size: 34px;
    }
}